body{
  background-color: cadetblue;
}
.form-container{
  margin: 50px 10px;
}
.form-container{
  background-color:white;
  border-top: 5px solid red;
  border-radius: 10px;
  box-shadow: 4px 6px 10px gray;
  width:350px;
  height:450px;
}
.input-text input{
   border:0px;
   outline:none;
   border-bottom: 1px solid gray;
   width:300px;
   margin: 10px 25px;
}
select{
  border:0px;
  outline:none;
  border-bottom: 1px solid gray;
  width:300px;
  margin:10px 25px;
}
h5{
  text-align: center;
  margin:10px;
  text-decoration: underline;
}
.depart-lang{
  display: flex;
  gap:70px;
  margin-left: 25px;
}
label{
  font-weight:bold ;
}
.btn-submit{
  border:0px;
  border:1px solid gray;
  width:100px;
  margin:30px 115px;
}